# TODO 这个文件名得改一下，把 dk_sso_demo 换成你自己的组件名
location ^~ /api/{{.ModuleName}}/demo {
    proxy_pass http://{{.ModuleName}}/api/demo;
    proxy_read_timeout 1800s;
    proxy_set_header X-Real-IP $clientRealIp;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host:$proxy_port;
}
